$primary: #711984;

$secondary: #00c488;

$secondaryFocus: #00865c;

$accent: #f9712b;

$warning: #feb801;

$white: #ffffff;

$lightGrey: #e9ecef;

$lighterGrey: #f2f2f2;

$grey: #d7d6df;

$darkerAccent: #2a2a2a;

$text: #212529;

$black: #000000;
