header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100 * $pt;
  padding: 30 * $pt;
  border-bottom: 3px solid $text;

  * {
    display: inline-block;
    cursor: pointer;
    @include noselect;
  }

  .Logo {
    height: 20 * $pt;
    margin-top: 0 * $pt;

    img {
      height: 100%;
    }
  }

  .Login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: $primary;

    div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

      span {
        margin: 0 25 * $pt;
      }
    }

    > *:hover {
      color: $text;
    }
  }
}
